header
{
	font-weight: bold;
	color: #fff;
}
header h1
{
	background-color: #262627;
	padding: 10px 20px;
	font-size: 1.5em;
	margin: 0;
}
.jumbotron 
{
    margin-bottom: 0px;
    background-image: url(fond.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 24px;
    height: 575px;
    text-align: center;
}
.container
{
	background-color: #00000085;
	color: #fff;
	padding: 25px 10px 5px 25px;
}

ul {
	text-align:center;
}
ul li {
	display: inline-block;
	list-style: none;
	margin: 0 10px;
	border-top: 5px solid rgb(255,255,255,0);
}

ul li a {
	color: #000;

}
.menu-accueil:hover
{
	border-top: 5px solid #4C8;
	background-color: RGB(64, 200, 130, 0.15);
}

.menu-activités:hover
{
	border-top: 5px solid #f1dc4f;
	background-color: RGB(241, 211, 79, 0.15);
}

.menu-inscrire:hover
{
	border-top: 5px solid #0070BB;
	background-color: RGB(000, 112, 192, 0.15);
}

.menu-infos:hover
{
	border-top: 5px solid #e44d26;
	background-color: RGB(228, 77, 38, 0.15);
}
body
{
	margin: 0px;
	padding: 0px;
}

.gauche
{
	width: 33%;
	background-color: #995047;
	color: white;
}
.centre
{
	width: 33%;
	background-color: #a3ab5a;
}
.droite
{
	width: 33%;
	background-color:#995047;
	color: white;
}


footer
{
	height: 80px;
	padding-top: 15px;
	text-align: center;
	background-color: #C5C5C5;
	border-top: 2px solid #AAA;
}